.container {
    width: 53rem;
    height: 100%;
    border-bottom: 1px solid #D6D7D9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align:start;
    gap: 2rem;
  }
  
  .featureBox {
    width: 14rem;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .withBorders {
    border-left: 1px solid #D6D7D9;
    border-right: 1px solid #D6D7D9;
  }
  
  .featureItem {
    height: 64px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  
  .iconWrapper {
    width: 24px;
    height: 24px;
    position: relative;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    position: absolute;
  }
  
  .title {
    width: 10rem;
    items-align:start;
    color: #2E323A;
    self-align:;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 700;
    line-height: 22.4px;
  }
  
  .description {
    flex: 1 1 0;
    color: #484D57;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 19.6px;
    word-wrap: break-word;
    text-align: start;
    padding: 0 10px;
  }
  