.container {
  width: 100%;
  height: 100%;
  padding-left: 56px;
  padding-right: 56px;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  display: inline-flex;
  border-left: 1px #d6d7d9 solid;
  border-right: 1px #d6d7d9 solid;
  border-bottom: 1px #d6d7d9 solid;
  

}

.textContainer {
  width:50%;
  margin-top:80px;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  display: inline-flex;
  margin-bottom:80px
  
}

.missionBadge {
  padding: 8px 24px;
  background: rgba(10, 207, 131, 0.09);
  border-radius: 50px;
  overflow: hidden;
  border: 1px rgba(34, 34, 34, 0.10) solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.missionText {
  color: #0ACF83;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 19.6px;
  word-wrap: break-word;
}

.title {
  text-align:start;
  color: black;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 48px;
  display:inline
  

}

.description {
  text-align:start;
  color: #2E323A;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
}

.card {
  text-align:start;
  padding-left: 8px;
  border-bottom: 1px #B8BBBF solid;
  flex-direction: column;
  display: flex;
  position:relative;
  padding-bottom:24px;
  width:100%;


}
.card:hover{
  border-left:3px #0ACF83 solid;
  background-color:rgba(169, 219, 200,0.3);
  border-bottom: 0 #B8BBBF solid;
}
.cardHeader {
  height: 56px;
  color: #2E323A;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  word-wrap: break-word;
  padding-top:24px;
}

.cardContent {
  text-align:start;
  color: #2E323A;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;

}

.buttonContainer {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  display: inline-flex;
}

.exploreButton {
  margin-top:25px;
  border-radius: 8px;
  border: 1px #0ACF83 solid;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  padding:5px 16px;
  display: flex;
  cursor:pointer;
}

.exploreText {
  padding:8px 10px;
  color: #0ACF83;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.exploreText:hover{
  background-color:#0ACF83;
  color:white;
  border-radius: 8px;
}
.enquireButton {
 
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-top:22px;
  display: inline;
  display:flex;

}

.enquireText {
  padding: 16px 8px 16px 32px;
  overflow: hidden;
  color: #1A1C21;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

}

.arrowContainer {
  width: 24px;
  height: 24px;
  position: relative;

}

.arrow {
  width: 8px;
  height: 10.7px;
  left: 8px;
  top: 8.3px;
  position: absolute;
  background: #1A1C21;
}

.arrowSmall {
  width: 3.69px;
  height: 6.29px;
  left: 8px;
  top: 5px;
  position: absolute;
  opacity: 0.5;
  background: #1A1C21;
}

.imageContainer {
  margin-top:30px;
  width: 694px;
  height: 558px;
  position: relative;
}

.imageWrapper {
  
  width: 694px;
  height: 525px;
  border-radius: 12px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.image {
  width: 694px;
  height: 525px;
}

.liveWorkshops {
  width: 330px;
  height: 67px;
  padding: 22px 10px 22px 22px;
  background: white;
  box-shadow: 0px 1px 37.4px rgba(180.2, 180.2, 180.2, 0.25);
  border-radius: 51px;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  position: absolute;
  left: 207px;
  top: 491px;
  box-shadow: 0px -2px 4px black;
}

.liveWorkshopsBadge {
  width: 20.1px;
  position: relative;
}

.liveWorkshopsBadge::before {
  content: '';
  width: 20.1px;
  height: 20.1px;
  position: absolute;
  opacity: 0.68;
  background: linear-gradient(180deg, #FF4343 0%, #FF511A 100%);
  border-radius: 2000px;
}

.liveWorkshopsBadge::after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  background: linear-gradient(180deg, #FF4343 0%, #FF511A 100%);
  border-radius: 2000px;
  left: 14px;
  top: 4px;
}

.liveWorkshopsText {
  color: black;
  font-size: 16px;
  text-align:center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 22.4px;
  word-wrap: break-word;
}
