.container {
    height: 100%;
    padding: 16px 32px;
    background: #1A1C21;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
  }
  
  .iconWrapper {
    width: 24px;
    height: 24px;
    position: relative;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    top: 2px;
  }
  
  .text {
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
  }
  